

<!-- Imports polymer -->
<link rel="import" href="../../bower_components/polymer/polymer.html">


<!-- Defines element markup -->
<dom-module id="poly-cmapi-datafeed">

    <style>
        :host { display: block; }
        :host #cmapi-datafeed {height:0%; width:0%}
    </style>

    <template>
        <!-- local DOM for your element -->
        <div id="poly-cmapi-datafeed-content">
            <iron-ajax
                    auto
                    url="http://localhost:800/http://krk.data.fr24.com/zones/fcgi/feed.js?bounds=82.74652281376211,-83.44892683138465,5744.8828125,491.8359375&faa=1&mlat=0&flarm=0&adsb=0&gnd=0&air=1&vehicles=0&estimated=1&maxage=3600&gliders=0&stats=1"
                    handle-as="text"
                    on-response="handleResponse"
                    debounce-duration="300">

            </iron-ajax>
        </div>
    </template>

    <!-- CMAPI v.1.3 script and schema -->
    <script src="../../libs/cmapi/dist/tv4.js"></script>
    <script src="../../libs/cmapi/dist/cmapi.schema.js"></script>
    <script src="../../libs/cmapi/dist/cmajs.js"></script>
    <script src="../../libs/cmapi/dist/cmapi.examples.js"></script>
    <script src="../../bower_components/httpclient/dist/HTTPClient.js"></script>

    <!-- Registers custom element -->
    <script>
        "use strict";

        Polymer({
            is: 'poly-cmapi-datafeed',

            //behaviors: [],
            //listeners: [],


            <!-- PUBLIC PROPERTIES -->
            properties: {


            },

            <!-- INTERNAL PROPERTIES -->
            _data_feed:{
                type:Object,
                value:null
            },




            <!--   INTERNAL FUNCTIONS EVENTS  -->




            <!--      LYFECYCLE EVENTS  -->
            ready: function() {
                this._data_feed=[];
                console.debug('CMAPI DATAFEED Ready Event executing.');

            },

            created: function() {
                console.log('CMAPI DATAFEED Event created executed.');
            },

            attached: function() {
                console.log('CMAPI DATAFEED Event attached executed.');



            },

            detached: function() {
                console.log('CMAPI DATAFEED Event detached executed.');

            },

            attributeChanged: function(name, type) {
                console.log('CMAPI DATAFEED Event attributeChanged executed.');

            },
            handleResponse: function(e) {
                var self = document.querySelector('#cmapi-datafeed');
                var PATTERN_TOTAL= "";
                var PATTERN_STATS= "";
                var PATTERN_RECORD_ID="";
                var PATTERN_RECORD_DATA="";

                var data=e.detail.response.toString().replace()
                //var child=document.createElement('p');
                //child.innerText=JSON.stringify(e.detail.response);
                //Polymer.dom( self.root).appendChild(child);
            }


        });
    </script>

    <script src="poly-cmapi-datafeed.js"></script>

</dom-module>