

<!-- Imports polymer -->
<link rel="import" href="../../bower_components/polymer/polymer.html">


<!-- Defines element markup -->
<dom-module id="poly-cmapi-datafeed" attributes="url layer_id format">

    <style>
        :host { display: block; }
        :host #cmapi-datafeed {height:0%; width:0%}
    </style>

    <template>
        <!-- local DOM for your element -->
        <div id="poly-cmapi-datafeed-content">
            <iron-ajax id="ajax_requester"
                    auto
                    url="http://localhost:800/http://krk.data.fr24.com/zones/fcgi/feed.js?bounds=44.25387985393522,36.0535349811456,-12.125566406250982,0.120849609375&faa=1&mlat=1&flarm=1&adsb=1&gnd=0&air=1&vehicles=0&estimated=1&maxage=900&gliders=0&stats=1&"
                    handle-as="text"
                    on-response="_handleResponse"
                    on-error="_handleError"
                    debounce-duration="0">

            </iron-ajax>
        </div>
    </template>

    <!-- CMAPI v.1.3 script and schema -->
    <!--script src="../../libs/cmapi/dist/tv4.js"></script-->
    <!--script src="../../libs/cmapi/dist/cmapi.schema.js"></script-->
    <!--script src="../../libs/cmapi/dist/cmajs.js"></script-->
    <!--script src="../../libs/cmapi/dist/cmapi.examples.js"></script-->


    <!-- Registers custom element -->
    <script>
        "use strict";

        Polymer({
            is: 'poly-cmapi-datafeed',

            //behaviors: [],
            //listeners: [],


            <!-- PUBLIC PROPERTIES -->
            properties: {
                url: {
                    //THIS PROPERTY WILL BE USED TO CONFIGURE THE IRON_AJAX COMPONENT, WHICH IS THE XHR FETCHER!!!. ALSO, THE USE OF A PROXY COULD BE PARAMETERIZED, TO BYPASS A CROSS-DOMAIN EXCHANGE.
                    //TODO: CONNECT THE IRON_AJAX COMPONENT TO DETECT THE CHANGE ON THE URL, SO THAT IT GRABS THE NEW DATA
                    type:String,
                    value:'http://krk.data.fr24.com/zones/fcgi/feed.js?bounds=44.25387985393522,36.0535349811456,-12.125566406250982,0.120849609375&faa=1&mlat=0&flarm=0&adsb=0&gnd=0&air=1&vehicles=0&estimated=1&maxage=3600&gliders=0&stats=1'
                },
                //THIS PROPERTY WILL BE USED AS THE OVERLAY_ID IN THE MAP.FEATURE.PLOT AND UPDATE MESSAGES!!!
                //TODO: ADD CODE FOR DETECTING CHANGES OF THE LAYER ID. THIS PARAMETER SHOULD BE CONFIGURABLE BY THE USER.
                layer_id:{
                    type:String,
                    value:'UNKNOWN_YET'
                },
                //THIS PROPERTY WILL BE USED AS THE format of the feature IN THE MAP.FEATURE.PLOT AND UPDATE MESSAGES!!!
                //TODO: ADD CODE FOR DETECTING CHANGES OF THE format type. THIS PARAMETER SHOULD BE CONFIGURABLE BY THE USER.
                format:{
                    type:String,
                    value:'geojson'
                    /*EXTRACT FROM THE OL3 3.5 API DOCUMENT FOR ol.format
                    *   EsriJSON
                    *   Feature
                    *   GeoJSON
                    *   GML
                    *   GML2
                    *   GML3
                    *   GMLBase
                    *   GPX
                    *   IGC
                    *   JSONFeature
                    *   KML
                    *   OSMXML
                    *   Polyline
                    *   TextFeature
                    *   TopoJSON
                    *   WFS
                    *   WKT
                    *   WMSCapabilities
                    *   WMSGetFeatureInfo
                    *   WMTSCapabilities
                    *   XML
                    *   XMLFeature
                    *
                    *CMAPI 1.3RC4 ONLY SPECIFIES FOR THE PLOT MESSAGE {
                    *   overlayId: string (optional),
                    *   featureId: string (required),
                    *   name: string (optional),
                    *   format: string ["kml", "geojson"] default="kml" (optional),
                    *   feature: object | string (required),
                    *   zoom: boolean default=false (optional),
                    *   readOnly: boolean default=true (optional),
                    *   properties: object (optional)
                    *}
                    *
                     */


                }


            },

            <!-- INTERNAL PROPERTIES -->
            _data_feed:{
                type:Object,
                value:null
            },
            _cmajs: {
                type:Object,
                value:null
            },




            <!--   INTERNAL FUNCTIONS EVENTS  -->




            <!--      LYFECYCLE EVENTS  -->
            ready: function() {
                this._data_feed=[];


                console.debug('CMAPI DATAFEED Ready Event executing.');

            },

            created: function() {
                console.log('CMAPI DATAFEED Event created executed.');
            },

            attached: function() {
                console.log('CMAPI DATAFEED Event attached executed.');



            },

            detached: function() {
                console.log('CMAPI DATAFEED Event detached executed.');

            },

            attributeChanged: function(name, type) {
                console.log('CMAPI DATAFEED Event attributeChanged executed.');

            },

            _handleError: function(e) {
              console.error(e);
            },

            _handleResponse: function(e) {
                var self = document.querySelector('#cmapi-datafeed');
                //{"full_count":9433,"version":4
                var PATTERN_TOTAL='"version":4';
                var PATTERN_STATS= ',"stats":{"total":{"';
                var PATTERN_RECORD='\n';
                var PATTERN_RECORD_DATA=':';

                if(this._cmajs.runtimes==undefined && window.cmajs==undefined) {
                    console.log('CMAJS not detected.');setTimeout(function() {
                        document.querySelector('#ajax_requester').setAttribute("body",Math.random().toString());
                        return;
                    },5000);
                    return;
                }else {
                    if(window.cmajs!=undefined) {
                        this._cmajs = window.cmajs;
                    }else {
                        setTimeout(function() {
                            document.querySelector('#ajax_requester').setAttribute("body",Math.random().toString());
                        },5000);
                        return;
                    }
                }

                var data=null;
                var aircraft=[];
                var counter=0;
                var aircraft_attributes=null;
                var index=-1;

                data=null;
                counter=0;
                aircraft=[];
                aircraft_attributes=null;
                index=-1;

                //clean up initial header: the total of records...
                data=e.detail.response.toString().split(PATTERN_TOTAL);
                data=data[1];//discard the total and version header...

                //in case there is network problems or data format problems!!!
                if(data==undefined) {
                    console.error('There is no data to process.');
                    setTimeout(function() {
                        document.querySelector('#ajax_requester').setAttribute("body",Math.random().toString());
                    },5000);
                    return;
                }
                //clean up stats header: the total of records... actually returned, different from the total.
                data=data.split(PATTERN_STATS);
                data=data[0];//discard the stats info.
                data=data.split(PATTERN_RECORD);

                //console.debug(this._data_feed.length);

                while(true) {
                    //console.log('START of while...');
                    data[counter]=data[counter].substring(1,data[counter].length); //cut initial coma
                    aircraft_attributes=data[counter].split(PATTERN_RECORD_DATA);
                    aircraft[counter]={};
                    aircraft[counter].id=aircraft_attributes[0];
                    aircraft[counter].attributes=JSON.parse(aircraft_attributes[1]);
                    //check if the aircraft already exists?

                    index=this._exists(aircraft[counter]);

                    if(index>=0) {//ya existe, no hace falta anadirlo sino actualizar los atributos del avion
                        //console.debug('Avion existente...');
                        aircraft[counter].featureId= this._data_feed[index].featureId;//get the existing THE FEATURE ID!!!!!!
                        this._data_feed[index].attributes=aircraft[counter].attributes;
                        //if(this._cmajs.runtimes==undefined)  {//if we are in standalone mode, do nothing...
                            //cannot happen really...
                        //}else { //if we are in integrated mode, then send the cmapi message
                        this._CMAPI_map_feature_plot(aircraft[counter]);//when the feature exists, it should be considered a refresh of data, except when the name or the overlay whants to be changed, then use the featureUpdate
                        //}
                        counter++;
                        if (data[counter + 1] == undefined) {
                            //console.log('FIN BUCLE_EXISTE:'+counter);
                            break;
                        }
                        continue;//ESTE CONTINUE NO ESTABA FUNCIONANDO.
                    }else {
                        //console.log('Nuevo AVION.');
                        //el avion no existe, se anade...


                        //SEND A CMAPI FEATURE ADD!!!!

                        //if(this._cmajs===undefined)  {//if we are in standalone mode, do nothing...
                        //    console.log('CMAJS not detected yet.');
                        //cannot happen really
                        //}else { //if we are in integrated mode, then send the cmapi message
                        var featureId = this._CMAPI_map_feature_plot(aircraft[counter]);
                        aircraft[counter].featureId = featureId;//KNOW WE HAVE THE FEATURE ID IN THE MAP PART
                        //console.debug(aircraft[counter]);
                        this._data_feed.push(aircraft[counter]);
                        //}
                        //store the aircraft data into the internal array
                        //this._data_feed[aircraft.id]=aircraft;
                        counter++;
                        if (data[counter + 1] == undefined) {
                            //console.log('FIN BUCLE_NOEXISTE:'+counter);
                            break;
                        }
                    }
                }
                //CLEAR THE LIST
                var list = document.querySelector('#LISTOFAIRCRAFTS');
                while (list.firstChild) {//CLEARR THE LIST OF STUFFF
                    list.removeChild(list.firstChild);
                }
                //DUMP THE DATA INTO THE LIST.
                var child;
                index=0;
                while(index<aircraft.length) {
                    child = document.createElement('p');

                    list.appendChild(child);child.innerText = aircraft[index].id + aircraft[index].attributes;//DATA OF AIRCRAFT.
                    index++;
                }

                //console.log('Processed '+ counter+' Aircrafts');
                counter=0;
                data=null;
                aircraft=[];
                aircraft_attributes=null;
                index=-1;
                //var child=document.createElement('p');
                //child.innerText=JSON.stringify(e.detail.response);
                //Polymer.dom( self.root).appendChild(child);
                setTimeout(function() {
                    document.querySelector('#ajax_requester').setAttribute("body",Math.random().toString());
                },5000);
                return;
            },
            _exists:function (what){
                var index=0;
                var result=-1;

                if(what==undefined) return -1;
                if(!what.hasOwnProperty('id')) return -1;
                if(!what.hasOwnProperty('attributes')) return -1;

                for (index in this._data_feed) {
                    if(this._data_feed[index].id===what.id) {
                        result=index;
                    }
                }

                return result;
            },
            _CMAPI_map_feature_plot: function (what) {
                //TODO: ADD ERROR HANDLING FOR THE WHAT.

                if(this._cmajs!=undefined) {
                    var payload={
                        //TODO: THE LAYER_ID MUST BE A CONFIGURABLE PARAMETER OF THE DATAFEED COMPONENT. ALSO, THE OL3MAP SHOULD DEAL WITH THE PROBLEM WHEN THE LAYER DOES NOT EXIST YET. IT WILL BE AUTOMATICALLY CREATED.
                        "overlayId":this.layer_id,
                        "featureId":this._cmajs.utils.getUUID(), //WHEN CREATING A FEATURE, THE ID SHOULD BE RANDOM AND UNIQUE?
                        "format":this.format,                 //TODO: FORMAT FOR FEATURES SHOULD BE CONFIGURABLE AND ATTRIBUTE OF THE COMPONENT. GEOJSON AS THE DEFAULT.
                        "feature":{
                            "id":null,
                            "type":"Feature",
                            "crs": {
                                "type": 'name',
                                "properties": {
                                    "name": 'EPSG:4326'           //LAT LONG MANDATED BY CMAPI
                                }
                            },
                            "geometry":{
                                "type":"Point",
                                "coordinates":[             //OBTAINED BY THE DATA_FEED.
                                    what.attributes[2],//0 is registration number, 2 is the lat, 1 is long;
                                    what.attributes[1]
                                ]
                            }
                        },
                        properties: {
                            "z":what.attributes[4]
                        }
                    };
                    if(what.hasOwnProperty('featureId')) {
                        payload.featureId=what.featureId;
                    }
                    payload.feature.id=payload.featureId;


                    var plotmsg = {
                        channel: "map.feature.plot",
                        message: payload
                    };

                    var bol=this._cmajs.runtimes.browser.pubSub.publish(plotmsg);

                    return payload.featureId;
                }


            },
            _CMAPI_map_feature_update: function (what) {
                //what is a copy of the object that contains the data. In this case, id and array of attributes.
                console.debug('Feature update not Implemented YET.');
                //find the Layer

                //find the feature
                //console.log(what);
            }


        });
    </script>

    <script src="poly-cmapi-datafeed.js"></script>

</dom-module>