<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../poly-cmapi-ol3.html">


</head>
<body>


<div class="layout wrap inline center-center">

    <paper-header-panel class="blue">
        <div class="paper-header">DEMO OF THE POLY-CMAPI-OL3 WEB COMPONENT</div>
        <div class="content">

                <poly-cmapi-ol3 periodicStatus={"true","1000"}></poly-cmapi-ol3>

        </div>
    </paper-header-panel>

</div>

</body>
</html>